
form    {
    
        background-color: #6495ED;
        color: white;
        padding-top: 25px;
        padding-bottom: 50px;
        font-family: fantasy;
     
}

input {
  display: inline-block;
  float: right;
}


.center  {
            margin: auto;
            width: 35%;
            padding: 25px;                                      
        }

.resultscss {
        
            background-color: #6495ED;
            color: white;
            margin: auto;
            width: 35%;
            padding: 10px;
            font-family: fantasy;

        }
        
h3      {
           text-align: center; 
        }